@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(../fonts/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://fontstatic.useso.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
}

.xxxxx1 {
	font-size: 16px;
	font-family: "微软雅黑";
}

.xxxxx2 {
	font-size: 14px;
	font-family: "楷体";
	color: black;
}

.xxxxx2:hover {
	font-size: 14px;
	font-family: "楷体";
	color: white;
}

.iw_poi_title {
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap
}

.iw_poi_content {
	font: 12px arial, sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
}

.xxxxx3 {
	margin-right: 20px;
}

.xxxxx4 {
	font-family: "微软雅黑";
	font-size: 20px;
	position: absolute;
	top: 40%;
	left: 50%;
	text-align: center;
	margin: 70px 0 0 -380px;
}

.xxxxx5 {
	font-size: 30px;
	color: chartreuse;
}

.button1 {
	position: absolute;
	text-align: center;
	font-family: "微软雅黑";
	border: 1px solid #CCC;
	border-radius: 3px;
	left: 50%;
	background-color: #0087F7;
	color: white;
	margin: 0 0 0 -74px;
}

.button1:hover {
	color: cyan;
}

.xxxxx6 {
	margin-left: 67px;
}

.xxxxx7 {
	margin-left: 165px;
}

.xxxxx8 {
	width: 100%;
}

.xxxxx9 {
	font-family: "微软雅黑";
	color: #325EBD;
	margin-left: 250px;
	font-size: 18px;
}

.xxxxx10 {
	color: white;
}

.xxxxx11 {
	font-family: "微软雅黑";
}

.xxxxx12 {
	text-indent: 2em;
}

.xxxxx13 {
	font-weight: bolder;
	font-size: 15px;
}

.xxxxx14 {
	text-indent: 2em;
	color: orange;
}