/* ========================================================================================= */


/* ======================================= Green #A21E1E =================================== */


/* ========================================================================================= */

.btn-primary {
	background: #A21E1E;
}

.btn-primary:hover {
	background: #A21E1E;
}

a {
	color: #A21E1E;
}

.icon_menu {
	background: #fff !important;
	color: #A21E1E;
}

.icon_menu_active,
.icon_menu_hover {
	background: #A21E1E !important;
	color: #fff !important;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.mCSB_dragger_bar {
	background: #A21E1E !important;
}

#style-2::-webkit-scrollbar-thumb {
	background-color: #A21E1E;
}

.span-info {
	color: #A21E1E;
}

#contactform .submit:hover,
#comment_form .submit:hover {
	webkit-filter: brightness(98%) !important;
}

#profile .col-md-5 h2,
#profile .col-md-5 h4,
#resume .col-md-6 p,
#resume .col-md-6 span.duration {
	color: #A21E1E;
}

#resume .resume-left ul li h5 {
	border-bottom: 1px solid #A21E1E;
}

.attributes span.glyphicon,
.attributes h6 {
	color: #A21E1E;
}

.blog-article a.read_m:hover {
	border: 1px solid #A21E1E;
	background-color: #A21E1E;
}

.border-list {
	border: 1px solid #A21E1E;
}

.content-post h1 {
	color: #A21E1E;
}

a.readmore:hover,
a.readmore:focus,
a.readmore:active {
	border: 1px solid #A21E1E;
	background-color: #A21E1E;
}

.border-list {
	border: 1px solid #A21E1E;
}

.content-post h1 {
	color: #A21E1E;
}

a.readmore:hover,
a.readmore:focus,
a.readmore:active {
	border: 1px solid #A21E1E;
	background-color: #A21E1E;
}

.ch-info-prof {
	background: rgba(241, 33, 80, 0.6);
}

#profile .col-md-6 h1 {
	color: #A21E1E;
}

.download:hover span,
.download:focus span {
	background: #A21E1E;
}

.download span::before {
	color: #A21E1E;
}

.download span,
.ch-info .ch-info-back {
	background: #A21E1E;
}

.resp-tabs-container h1 {
	color: #A21E1E !important;
}

@media screen and (max-width:540px) {
	.content-inner {
		border-top: 5px solid #A21E1E;
	}
}

#contactform .submit,
#comment_form .submit {
	background-color: #A21E1E;
}

#profile .about i.glyphicon,
#profile .about label {
	color: #A21E1E;
}

#section-title,
#categories_sidebar ul.categories li a:hover {
	background: #A21E1E;
}

#tags .tags_sidebar .tags-list li {
	border: 1px solid #A21E1E;
	color: #A21E1E;
}

#tags .tags_sidebar .tags-list li a {
	color: #A21E1E;
}

#tags .tags_sidebar .tags-list li:hover {
	background: #A21E1E;
}

h2.resp-accordion:hover .hi-icon,
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	border: 1px solid #A21E1E !important;
}

@media only screen and (max-width: 800px) {
	.icon_menu_active,
	.icon_menu_hover {
		background: #fff !important;
		color: #A21E1E !important;
		transition-property: background-color;
		transition-duration: 0.3s;
		transition-timing-function: linear;
	}
	h2.resp-accordion {
		background: #A21E1E !important;
	}
	h2.resp-accordion:hover {
		background: rgba(241, 33, 80, 0.8) !important;
	}
	h2.resp-tab-active {
		background: rgba(241, 33, 80, 0.8) !important;
	}
}

.title_content:after,
.icon_content {
	background: #A21E1E;
}

.text_content {
	color: #A21E1E;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: #A21E1E;
}

.nbs-flexisel-inner {
	border: 5px solid #A21E1E;
}

#nb_post,
.reply,
.tag,
.info-post i.glyphicon,
.info i.glyphicon,
i.fa-quote-left {
	color: #A21E1E !important;
}

.modal-header {
	background: #A21E1E;
}

.skillbar-title,
.skillbar-bar {
	background: rgba(241, 33, 80, 0.8);
}

.portfolio .label-bg,
#filters li span.active {
	background: #A21E1E;
}

.portfolio .label-bg,
#filters li span:hover {
	background: #A21E1E;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#sidebar-right .search-blog i,
#sidebar-left .search-blog i {
	background: #A21E1E;
}

.icon-switcher {
	color: #A21E1E !important;
}

.resp-tabs-list li {
	background: #A21E1E;
	color: #fff;
}

#services .pack-service .service-icon i {
	border: 3px solid #A21E1E;
	color: #A21E1E;
	background: #fff;
}

#services .pack-service:hover .service-icon i {
	background: #A21E1E;
}

.widget-profil {
	background: #A21E1E;
}

.widget-profil .head-image {
	border: 10px solid #D20606;
}

.widget-profil .circle-img {
	border: 10px solid #c7e700;
}

.widget-profil h1 {
	color: #F72B2B;
}

.widget-profil h4 {
	color: #F72B2B;
}

.widget-profil h6 {
	color: #F72B2B;
}

.widget-profil p {
	color: #F72B2B !important;
}

.widget-profil #profile_desc {
	border-bottom: 1px solid #F72B2B;
	border-top: 1px solid #F72B2B;
}

#profile_social a:hover {
	color: #A21E1E;
}

#profile_social a {
	background-color: #A21E1E;
}

#blog .post_media {
	border-top: 5px solid #A21E1E;
}

#blog .post_media .post-format-icon {
	background: #A21E1E;
}

.reference span {
	color: #A21E1E;
}