@charset "utf-8";
/* CSS Document */

#nav {
    left: 0;
    list-style: none outside none;
    margin-left: 0;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 145px;
    z-index: 1000;
}
#nav li {
    display: block;
}
#nav li a{
    display: block;
    height: 30px;
    width: 30px;
}
#nav li a:hover{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}



#theme-tool-container{
    position: fixed;
    top: 40px;
    left: -125px;
    z-index:1000;
    width: 115x;
    padding-bottom:20px;
    background: url("../images/content-bg.jpg") repeat scroll 0 0 transparent;
}

.theme-switcher-section:first-child{
    margin-top:35px;
}

#theme-tool-container .image{
    background: url("../images/line-pattern-light-bg.png") repeat scroll 0 0 transparent;
    padding: 3px;
}

.theme-switcher-section{
    z-index:999;
    position: relative;
    width: 90px;
    margin-left: 3px;
    margin-top: 10px;
}


.theme-switcher-section select {
    width: 97%;
    border-radius : 0px;
    background: -moz-linear-gradient(#EFEFEF, #FDFDFD) repeat scroll 0 0 transparent;
    border-color: #F7FBFC #D0D0D1 #B0B1B2;
}

.theme-switcher-section ul{ list-style-type: none; margin:0px;}
.theme-switcher-section ul li{ float:left;}

.theme-switcher-section-title{ margin-left: 5px;}
.theme-switcher-color-sheme{}
.theme-switcher-section ul li{
	margin-top:4px;
}
.theme-switcher-color-sheme .image img{
    width : 20px;
    height : 20px;
}

.theme-switcher-color-sheme li a div{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin:1px;
}

.theme-tool-switcher-toggler{
    display: block;
    width:190px;
    height:40px;
    background: url("../images/ribbon-metadata-bg3.png") no-repeat scroll transparent;
    position: absolute;
    top: -14px;
    left: -10px;
}


.light{	background: url(styles/light/html-bg.png) no-repeat center;}
.green{	background: url(styles/green/html-bg.png) no-repeat center;}
.red{	background: url(styles/red/html-bg.png) no-repeat center;}
.turquoise{	background: url(styles/turquoise/html-bg.png) no-repeat center;}
.blue{	background: url(styles/blue/html-bg.png) no-repeat center;}

/*@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	.theme-switcher-section ul li{
		margin-top:4px;
	}
}*/